@font-face {
    font-family: 'Roboto-Black';
    src: url(../static/font/static/Roboto-Black.ttf);
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url(../static/font/static/Roboto-Thin.ttf);
}

@font-face {
  font-family: 'Roboto_condensed-Regular';
  src: url(../static/font/static/Roboto_Condensed-Regular.ttf)
}

body {
    background-color: #F7F1EA;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    min-height: 90vh; 
    margin: 0;
    width: 100%;
    font-family: 'Roboto-Black';
    padding: 2rem 0;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.narrow {
  width: 322px;
  max-width: 100%;
  margin: 0 auto;
}

/* "header" */

#icon-text {
    display: flex;
    align-items: center;
}

.buttonback {
    background-color: #F7F1EA;
    font-family: 'Roboto-Thin';
    border: 1px solid #E4DED7;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 32px;
    padding: 2px;
}

.buttonback a {
    text-decoration: none;
    color: #8e8b87;
    display: flex;
    align-items: center;
    gap: 2px
}

#button3 {
    background-color: #F7F1EA;
    font-family: 'Roboto-Thin';
    border: 1px solid #E4DED7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 100%;
}

#button3 a {
    text-decoration: none;
    color: #8e8b87;
}

.comeback {
    display: flex;
    align-items: center;
    gap: 2px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 322px;
    max-width: 100%;
    margin: 0 auto;
}

#button6 {
    background-color: #F7F1EA;
    font-family: 'Roboto-Thin';
    border: 1px solid #E4DED7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 322px;
    height: 25px;
    margin: 10px auto;
}

#button6 a {
    text-decoration: none;
    color: #8e8b87;
}

h5 {
    font-family: 'Roboto-Thin';
    color: #A29C96;
}

.indice h5 {
  margin-left: 16px;
}

/* FORM boutons */
.toggle-group label {
  flex: 1;                                /* même largeur pour chaque bouton */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;                        /* hauteur du bouton */
  border: 1px solid #F7F1EA;              
  border-radius: 999px;                   
  background-color: #F7F1EA;              
  color: #8e8b87;                        
  font-family: 'Roboto-Thin';
  cursor: pointer;
  transition: background-color .2s, color .2s, border-color .2s;
}

/* 3. Quand la radio est cochée, on cible son label juste après (+) */
.toggle-group input[type="radio"]:checked + label {
  background-color: #000;                
  color: #fff;                            
  border-color: #000;                     
}

.toggle-group input[type="radio"] {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
  white-space: nowrap;
}


/* 4. Disposition horizontale et espacement */
.toggle-group {
  display: flex;
  gap: 8px;                               
  margin-top: -25px;                         
}

/* Champ de saisie */
.input-group {
  background-color: #F7F1EA;        
  border: 1px solid #F7F1EA;         
  border-radius: 8px;
  padding: 16px 0px 16px 16px;
  margin-bottom: 1px;
}

.input-group h5 {
  font-size: 0.75rem;                
  color: #8E8B87;                   
  margin-bottom: 1px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  font-size: 2rem;                  
  border: 1px solid #F7F1EA;
  border-radius: 8px;
  background-color: #F7F1EA;         
  font-family: 'Roboto-Black';
  color: #000000;
  height: 100px;
}

/*  Bouton Go / Zone de calcul */
.calcul {
  background-color: #EAE3DB;         
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 24px;
  height: 324px;
}

.calcul .coef h5 {
  font-size: 0.875rem;              
  color: #8E8B87;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.calcul button {
  background-color: transparent;
  border: none;
  font-size: 8rem;                
  font-weight: 400;
  font-family: 'Roboto_condensed-Regular';
  color: #8E8B87;                   
  cursor: pointer;
  transition: color 0.2s;
  height: 300px;
  display: flex;
  align-items: flex-end;
}

.calcul button:hover {
  color: #000;
}

/* Affichage du résultat */
.result-calcul {
  background-color: #E8E1D6;        
  border-radius: 8px;
  padding: 32px 16px;               
}

.result-calcul h5 {
  font-size: 0.875rem;
  color: #8E8B87;
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.result-calcul .value {
  font-family: 'Roboto_condensed-Regular';
  font-size: 8rem;                  
  font-weight: 700;
  color: #000;
  line-height: 1;
}

#button1 {
    background-color: #000000;
    font-family: 'Roboto-Thin';
    color: #F7F1EA;
    border: #000000;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 322px;
    height: 30px;
    margin-top: 20px;
    margin-left: 14px;
}

#button1 a {
    text-decoration: none;
    font-family: 'Roboto-Thin';
    color: #F7F1EA;
}


