<h2>Utilisateurs</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Pseudo du CDR</th>
    <th>Email</th>
    <th>Admin(=BigBoss)</th>
    <th>MA100</th>
    <th>ME100</th>
    <th>ME120</th>
    <th>Image</th>
    <th>Ça dégage?!</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>{{ user.id }}</td>
    <td>{{ user.pseudo }}</td>
    <td>{{ user.email }}</td>
    <td>{{ 'Oui' if user.is_admin else 'Non' }}</td>
    <td>{{ user.rang_ma100 }} ({{ user.pct_ma100 }}%)</td>
    <td>{{ user.rang_me100 }} ({{ user.pct_me100 }}%)</td>
    <td>{{ user.rang_me120 }} ({{ user.pct_me120 }}%)</td>
   
    <td>
      <img
        src="{{ url_for('auth.avatar', user_id=user.id) }}"
        alt="Photo de profil"
        class="profile-avatar"
        width="50"
        style="border-radius: 4px"
      />
    </td>
    <td>
      <form
        method="post"
        action="{{ url_for('admin_delete_user', user_id=user.id) }}"
        onsubmit="return confirm('Supprimer {{ user.pseudo }} ?');"
      >
        
        <button type="submit">🗑️ Supprimer</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
<a href="{{ url_for('index') }}">Accés kvb mon amour</a>
<br />
<a href="{{ url_for('auth.profil') }}">Retour Profil</a>
<br />
<a href="{{ url_for('auth.logout') }}" class="btn btn-danger">Déconnexion</a>
