<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="wiwidth=device-width, initial-scale=1.O" />
        <title>Calcul KVB</title>
        <link rel="stylesheet" href="/static/home.css">
        <link rel="icon" type="image/jpeg" href="../static/icons/kvb-monamour.jpg">
    </head>
    <body>

        <div class="header">
            <div class="kvb">
                <div id="icon-text">
                    <img src="../static/icons/icons8-heart-24.png" alt="coeur">
                    <p>KvbMonAmour</p>
                </div>
            </div>
            <div class="comeback">
                <div class="buttonback">
                    <a href="{{ url_for('auth.profil') }}">
                        <img
                            src="{{ url_for('auth.avatar', user_id=session['user_id']) }}"
                            alt="Photo de profil"
                            class="profile-avatar"
                            width="28px"
                            height="28px"
                            style="border-radius: 100%"
                        />
                        {{ user.pseudo }}
                    </a>
                </div>
                <div id="button3">
                    <a href="{{ url_for('info') }}">?</a>
                </div>
            </div>
        </div>

        <main class="container">
            <form method="POST">
                <div class="indice">
                    <label><h5>Indice de composition :</h5></label><br>
                </div>
                <div class="toggle-group">
                    <input type="radio" id="ma100" name="type_train" value="MA100" required
                            {{ 'checked' if type_train == 'MA100' else '' }}>
                    <label for="ma100">MA100</label>

                    <input type="radio" id="me100" name="type_train" value="ME100" required
                            {{ 'checked' if type_train == 'ME100' else '' }}>
                    <label for="me100">ME100</label>
        
                    <input type="radio" id="me120" name="type_train" value="ME120" required
                            {{ 'checked' if type_train == 'ME120' else '' }}>
                    <label for="me120">ME120</label>
                </div>

                <div class="input-group">
                    <label for="masse_totale"><h5>Masse totale (t) :</h5></label>
                    <input type="number" step="1" name="masse_totale" required
                    value="{{ masse_totale or '' }}">
                </div>

                <div class="input-group">
                    <label for="masse_freinee"><h5>Masse freinée (t) :</h5></label>
                    <input type="number" step="1" name="masse_freinee" required
                    value="{{ masse_freinee or '' }}">
                </div>
                {% if not result %}
                    <div class="calcul">
                        <div class="coef">
                            <h5>Coefficient :</h5>
                        </div> 
                        <button type="submit">Go -></button>
                    </div>
                {% endif %}
            </form>

            {% if result %}
                <div class="result-calcul">
                        <h5>Coefficient :</h5>
                    <div class="value">{{ result }}</div>
                    <div id="button1">
                        <a href="{{ url_for('index') }}" class="btn">Rafraîchir</a>
                    </div>
                </div>
            {% endif %}

            {% if warning %}
                <p style="color:red;">{{ warning }}</p>
            {% endif %}

            <div id="button6">
                <a href="{{ url_for('auth.profil') }}">Retour Profil</a>
            </div>
        </main>
    </body>
</html>
