<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="wiwidth=device-width, initial-scale=1.O" />
    <title>KVB Mon Amour</title>
    <link rel="stylesheet" href="/static/info.css">
</head>

<body>
    <div id="icon">
        <img src="../static/icons/icons8-heart-24.png" alt="coeur">
    </div>
    <div id="text">
        <p>KvbMonAmour est un générateur de coefficient kvb, développé avec empathie par Marc et David - <em>jusqu'à la victoire.</em></p>
    </div>

    {% if session.get('user_id') %}
      <div id="button2">
        <a href="{{ url_for('index') }}">Retourner au calcul du coefficient KVB</a>
      </div>
    {% else %}
        <div id="button2">
            <a href="{{ url_for('auth.login') }}">Retour page d'accueil</a>
        </div>
    {% endif %}
</body>

</html>