<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="wiwidth=device-width, initial-scale=1.O" />
    <title>Tableau de bord</title>
    <link rel="stylesheet" href="/static/profil.css" />
    <link rel="icon" type="image/jpeg" href="../static/icons/kvb-monamour.jpg">
  </head>
  <body>
    <h1 class="profile-header">
      <span class="profile-pseudo">{{ session['pseudo'] }}, </span>
      {% if user.image_path %}
      <img
        src="{{ url_for('static', filename=user.image_path) }}"
        alt="Photo de profil"
        class="profile-avatar"
        width="54px"
        height="118px"
        style="border-radius: 4px"
      />
      {% else %}
      <img
        src="{{ url_for('static', filename='uploads/pic-no-pic.png') }}"
        alt="Photo de profil par défaut"
        class="profile-avatar default"
        width="54px"
        height="118px"
        style="border-radius: 4px"
      />
      {% endif %} partisan du moindre effort — <em>de traction.</em>
    </h1>

    <h2>Les masses sont les véritables héros :</h2>
    <div class="stats">
      <!-- MA100 -->
      <div class="stat">
        <h3>Rang {{ progress_ma100.idx }} : {{ progress_ma100.nom }}</h3>
        <div class="progress-bar">
          <div
            class="fill"
            style="--pct: {{ (progress_ma100.count/progress_ma100['next']) * 100 | round(0) }}%"
          ></div>
        </div>
        <small>{{ progress_ma100.count }}/{{ progress_ma100.next }}</small>
      </div>

      <!-- ME100 -->
      <div class="stat">
        <h3>Rang {{ progress_me100.idx }} : {{ progress_me100.nom }}</h3>
        <div class="progress-bar">
          <div
            class="fill"
            style="--pct: {{ (progress_me100.count/progress_me100['next']) * 100 | round(0) }}%"
          ></div>
        </div>
        <small>{{ progress_me100.count }}/{{ progress_me100.next }}</small>
      </div>

      <!-- ME120 -->
      <div class="stat">
        <h3>Rang {{ progress_me120.idx }} : {{ progress_me120.nom }}</h3>
        <div class="progress-bar">
          <div
            class="fill"
            style="--pct: {{ (progress_me120.count/progress_me120['next']) * 100 | round(0) }}%"
          ></div>
        </div>
        <small>{{ progress_me120.count }}/{{ progress_me120.next }}</small>
      </div>
    </div>

    <div id="button1">
      <a href="{{ url_for('index') }}">Accéder au calcul du coefficient KVB</a>
    </div>

    <h4>Modifier ma photo de profil :</h4>

    <div id="form">
      <form method="POST" 
            enctype="multipart/form-data"
            action="{{ url_for('auth.upload_profile_picture') }}">
        <label class="file-upload">
          Choisir une image
          <input type="file" name="image" />
        </label>
        <br />
        <button class="button4" type="submit">Mettre à jour la photo</button>
      </form>
    </div>

    {% if session['is_admin'] %}
    <a href="{{ url_for('admin') }}">Retour page Admin</a>
    {% endif %}

    <div id="button2">
      <a href="{{ url_for('auth.logout') }}">Déconnexion</a>
    </div>
  </body>
</html>
